.App-header {
  background-color: #020f2b;  /* min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.App-center-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  padding: 2rem;
  width: 10%;
  height: auto;
}